[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython-sql = "*"
scikit-learn = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
pyjanitor = "*"
pandas-profiling = "*"
ipywidgets = "*"
kneed = "*"
isort = "*"

[dev-packages]
ipykernel = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
